In [1]:
list = ["A","B","C","D"]
for i in list:
    print(i, end=", ")

A, B, C, D,

In [2]:
sum = 0
for i in range(1,11,1):
    sum += i
print(sum)

55

In [3]:

i = 1
sum = 0

while i <= 10:
    sum += i
    i += 1

print(sum)

55

In [4]:
list = ["A","B","C","D"]

i = 0
a = len(list)

while i < a:
    print(list[i])
    i += 1

A
B
C
D

In [5]:
list = ["A","B","C","D"]

i = 0
a = len(list)

for i in range(0,4):
    print(list[i])

A
B
C
D

In [6]:
for i in range(1,100,1):
    if i < 10:
        continue
    elif i > 15:
        break
    print(i, end=", ")

10, 11, 12, 13, 14, 15,

In [7]:
for i in range(1,100,1):
    if i < 25:
        continue
    elif i > 45:
        break
    sum += i

print(sum)

790

In [12]:
sum = 0

for i in range(1,100,1):
    if i < 25:
        continue
    elif i > 45:
        break
    sum += i

print(sum)

735

In [13]:
i = 1
sum = 0

while i < 100:
    if i < 25:
        i += 1
        continue
    elif i > 45:
        break
    sum += i
    i += 1

print(sum)

735

In [14]:
sum = 0

for i in range(1,100,1):
    if i >= 25 and i <=45:
        sum += i
    
    elif i > 45:
        break
print(sum)

735

In [16]:
sum = 0

for i in range(25,45,1):
    if i >= 25 and i >=45:
        sum += i

    elif i > 45:
        break
print(sum)

0

In [24]:
def f1(x1):
    return "Hello world"

print(f1(x1))

NameError: name 'x1' is not defined

In [27]:
def f2(x,y):
    if type(x) == int and type(y) == int:
        result = x ** y
    else:
        result = "입력 받은 값의 타입의 숫자형이 아닙니다."

    return result

print(f2(5,4))
print(f2("A","B"))

625
입력 받은 값의 타입의 숫자형이 아닙니다.

In [28]:
def f3(x,y):
    re = x + y
    return re

print(f3(5,4))

9

In [29]:
def f4(x=3,y=2,z=5):
    re = (x+y) * z
    return re

print(f4(5,2,3))

21

In [33]:
def f5(x,y,z):
    if type(z) == bool:
        if z == True:
            re = x + y
        else:
            re = x - y
    else:
        re = "z의 타입은 bool의 형태여야 합니다."

    return re

print(f5(1,4,True))
print(f5(1,4,False))
print(f5(1,4,1))

5
-3
z의 타입은 bool의 형태여야 합니다.

In [38]:
class Class_1():
    def __init__ (self):
        self.x = "Class가 생성되었습니다."

    def output(self):
        return self.x

In [42]:
class_a = Class_1()
print(class_a.output())

Class가 생성되었습니다.

In [43]:
class Class_1():
    def __init__ (self,x,y):
        self.x = x
        self.y = y
    def ouput(self):
        re = self.x + self.y
        return re

In [ ]:
class_b = Class_2(5,4)
class_c = Class_2(10,3)

print

In [45]:
class c5():
    def __init__ (self,x,y):
        self.x = x
        self.y = y
    def mul(self):
        self.re = self.x * self.y
        return self.re
    def output(self,x1,x2):
        self.x = x1
        self.y = y1
    def

SyntaxError: invalid syntax (1620693873.py, line 11)

In [46]:
class class_3():
    def __init__(self,x,y):
        self.x = x
        self.y = y

    def f1(self):
        return self.x * self.y
    
    def f2(self):
        return self.x / self.y

In [49]:
class_d = class_3(6,4)

print(class_d.f1())
print(class_d.f2())

24
1.5

In [50]:
import pandas as pd

In [61]:
df = pd.read_csv("./csv/uriage.csv")

In [69]:
df["item_name"].str.upper()
df["item_name"] = df["item_name"].str.upper

In [70]:
df["item_name"].str.replace(" ","")

df["item_name"].apply(lambda x : x.replace(" ",""))

def ch(x):
    re = x. replace(" ","")
    return re
df["item_name"] = df["item_name"].apply(ch)

AttributeError: 'function' object has no attribute 'replace'

In [71]:
import pandas as pd

In [72]:
class class_4():
    def __init__ (self,_path):
        self.df = pd.read_csv(_path)

    def change(self, _column):
        self.df[_column] = self.df[_column].str.replace(" ","")

        self.df[_column] = self.df[_column].str.upper()
        return self.df
    def review(self):
        return self.df

In [74]:
class_df = class_4("./csv/uriage.csv")

In [75]:
class_df.review()

         purchase_date item_name  item_price customer_name
0     2019-06-13 18:02       상품A       100.0           김가온
1     2019-07-13 13:05     상 품 S         NaN           김우찬
2     2019-05-11 19:42     상 품 a         NaN           김유찬
3     2019-02-12 23:40       상품Z      2600.0           김재현
4      2019-04-22 3:09       상품a         NaN           김강현
...                ...       ...         ...           ...
2994   2019-02-15 2:56       상품Y      2500.0           김정민
2995   2019-06-22 4:03       상품M      1300.0           김재원
2996  2019-03-29 11:14       상품Q         NaN           김지율
2997  2019-07-14 12:56       상품H         NaN           김승주
2998   2019-07-21 0:31       상품D       400.0           정준기

[2999 rows x 4 columns]

In [76]:
class_df.change("item_name")

         purchase_date item_name  item_price customer_name
0     2019-06-13 18:02       상품A       100.0           김가온
1     2019-07-13 13:05       상품S         NaN           김우찬
2     2019-05-11 19:42       상품A         NaN           김유찬
3     2019-02-12 23:40       상품Z      2600.0           김재현
4      2019-04-22 3:09       상품A         NaN           김강현
...                ...       ...         ...           ...
2994   2019-02-15 2:56       상품Y      2500.0           김정민
2995   2019-06-22 4:03       상품M      1300.0           김재원
2996  2019-03-29 11:14       상품Q         NaN           김지율
2997  2019-07-14 12:56       상품H         NaN           김승주
2998   2019-07-21 0:31       상품D       400.0           정준기

[2999 rows x 4 columns]

In [ ]:
class class_4():
    def __init__ (self,_path):
        self.df = pd.read_csv(_path)

    def change(self, _column):
        self.df[_column] = self.df[_column].str.replace(" ","")
        self.df[_column] = self.df[_column].str.upper()

    def change_time(self, _column, _format = ""):
        if _format == "":
            self.df[_column] = pd.to_datetime(self.df[_column])
        else:
            self.df[_column] = pd.to_datetime(self.df[_column], format = _format)
        return self.df
    
    def ch(self,_column):
        self.df["Year"] = self.df[_column].dt.year
        self.df["Month"] = self.df[_column].dt.month
        self.df["Day"] = self.df[_column].dt.day

    def review(self):
        return self.df