In [6]:
import pandas as pd

In [4]:
pip install pandas

Requirement already satisfied: pandas in c:\users\tjddlf132\appdata\local\programs\python\python310\lib\site-packages (1.4.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.21.0 in c:\users\tjddlf132\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.23.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\tjddlf132\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\tjddlf132\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2022.2.1)
Requirement already satisfied: six>=1.5 in c:\users\tjddlf132\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

[notice] A new release of pip available: 22.2.1 -> 22.2.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [8]:
pd_list = pd.Series([5000,6000,4000,3000],
            index=["아메리카","카폐","우유","버터"])

In [10]:
print(pd_list)

아메리카    5000
카폐      6000
우유      4000
버터      3000
dtype: int64

In [12]:
print("스리즈의 값:",pd_list.values)
print("스리즈의 인데스 값 :",pd_list.index)

스리즈의 값: [5000 6000 4000 3000]
스리즈의 인데스 값 : Index(['아메리카', '카폐', '우유', '버터'], dtype='object')

In [16]:
_value = [[1,2,3], [4,5,6], [7,8,9]]
_index = ['a','b','c']
_columns = ['A','B','C']

pd_df = pd.DataFrame(_value, index=_index, columns = _columns)
print(pd_df)

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

In [18]:
print("데이터프레임의 값:",pd_df.values)
print("데이터프레임의 인데스 값:",pd_df.index)
print("데이터프레임의 컬럼 값:",pd_df.columns)

데이터프레임의 값: [[1 2 3]
 [4 5 6]
 [7 8 9]]
데이터프레임의 인데스 값: Index(['a', 'b', 'c'], dtype='object')
데이터프레임의 컬럼 값: Index(['A', 'B', 'C'], dtype='object')

In [24]:
# 딕셔너리 형태의 데이터를 데이터프레임으로 변경
_values = {
    "name" : ["A","B","C"],
    "age" : [20,30,40],
    "phone" : ["01014924942","0110429429","01048238439"]
}
pd_df_2 = pd.DataFrame(_values)
pd_df_2

  name  age        phone
0    A   20  01014924942
1    B   30   0110429429
2    C   40  01048238439

In [9]:
pd_df_2.head

NameError: name 'pd_df_2' is not defined

1. 절대경로 - 절대적인 주소

In [10]:
csv_df = pd.read_csv("../csv/example.csv")
csv_df

  Name  Gender          Phone
0    A    male  010-1234-5678
1    B  female  010-1234-5679
2    C    male  010-1234-5680
3    D  female  010-1234-5681
4    E    male  010-1234-5682
5    F  female  010-1234-5683
6    G    male  010-1234-5684
7    H  female  010-1234-5685
8    I    male  010-1234-5686
9    J  female  010-1234-5687

In [11]:
csv_df.head()

  Name  Gender          Phone
0    A    male  010-1234-5678
1    B  female  010-1234-5679
2    C    male  010-1234-5680
3    D  female  010-1234-5681
4    E    male  010-1234-5682