In [6]:
a="10"
b="Hello world"
print(a)
print(b)
print(type(a))
print(type(b))
type(b)

10
Hello world
<class 'str'>
<class 'str'>

str

In [2]:
print(a)

10

In [7]:
## 연산자
## +,-,*,/,//,%,**
x = 5
y = 3
print(x+y, x-y, x*y, x/y, x//y, x%y, x**y)

8 2 15 1.6666666666666667 1 2 125

In [8]:
## 대입 연산자
x += 1
print(x)

## x = x+1

6

In [9]:
## x= 6인 상태
x -= 3
print(x)

3

In [10]:
x *= 5
print(x)

15

In [11]:
## 비교 연산자
## 비교 연산자 -> bool의 형태의 데이터를 출력 (true,false)
a = 5
b = 3 
print(a == b, a != b, a > b, a < b, a >= b, a <= b)

False True True False True False

In [14]:
## and, or , not
## and 두 조건이 모두 참인 경우 참
## or  두 조건 중 하나만 참이면 참
## not 반대로 출력
a = 10
print((a > 5) and (a < 15))  # 두 조건이 참인 경우
print((a > 5) and (a > 15))  # 두 조건 중 하나만 참인 경우

True
False

In [15]:
print((a > 5) or (a > 15))

True

In [18]:
not(False)

True

In [ ]:
## if문
1. 조건식이 참인 경우 코드가 실행 (들여쓰기 한 코드가 실행)
2. 조건식이 거짓인 경우 코드가 실행이 되지 않는다.
3. 거짓일 때의 코드를 실행 하려면 else문을 사용해야 한다.

In [22]:
a = 5

if a < 10 :
    print("a는 10보다 작다.") # a가 10보다 작은 경우에만 해당

a는 10보다 작다.

In [24]:
a = 15

if a < 10 :
    print("a는 10보다 작다.")       #a가 10보다 작은 경우 실행
else :
    print("a는 10보다 크거나 같다.") #그 외의 경우에만 실행

a는 10보다 크거나 같다.

In [25]:
a = 15

if a < 20 :
    print("a는 20보다 작다.")

a는 20보다 작다.

In [26]:
score = int(input("점수를 입력해주세요 : "))

if score >= 90:
    print("A")
elif score >= 80:
    print("B")
elif score >= 70:
    print("C")
else:
    print("F")

C

### 반복문
1.  for문
2. while문

In [158]:
## for문
## for 변수명 in range(시작값,죵료값,증가값):

for i in range(0,5,1):
    print(i)

0
1
2
3
4

In [159]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [52]:
sum = 0
for i in range(1,11,1):
    sum += i      # 1부터 10까지의 sum에 더해주는 작업
print(sum)

55

In [161]:
sum = 0

for i in range(1,11,1):
    sum += i
print(sum)

55

In [57]:
# 1부터 50까지의 짝수의 합

sum = 0

for i in range(1,51,1):
    if i % 2 == 0 :
        sum += i
print(sum)

650

In [164]:
sum = 0

for i in range(1,51,1):
    if i % 2 == 0:
        print(i, end=" ")
        sum += i
    
print(sum)

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 650

In [66]:
# 주사위가 2개 -> (총 경우의수 36개)
count=0

for i in range(1,7,1):
    for k in range(1,7,1):
        if i + k == 10:
            print("{ ", i,", ", k, " }")
            count += 1
print(count)

{  4 ,  6  }
{  5 ,  5  }
{  6 ,  4  }
3

In [171]:
count = 0

for i in range(1,7,1):
    for j in range(1,7,1):
        if i + j == 10:
            print("{",i,",",j,"}")
            
            count += 1
            
print(count)

{ 4 , 6 }
{ 5 , 5 }
{ 6 , 4 }
3

In [71]:
## while문
# 초기값을 미리 지정
# while 조건식

i = 0

while i < 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

In [172]:
i = 0

while i < 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

In [74]:
# break문 : 반복문을 종료
for i in range(0,100,1):
    if i ==7:
        break
    print(i)

0
1
2
3
4
5
6

In [78]:
for i in range(0,100,1):
    print(i)
    if i == 7:
        break

0
1
2
3
4
5
6
7

In [79]:
#### 1부터 1000까지의 합을 구하는데 합계까 900이 넘어가는 최초의 숫자는 무엇인가?

In [83]:
sum = 0

for i in range(1,1001,1):
     sum += i
     if sum >= 900:
        print(sum)
        print(i)
        break

903
42

In [173]:
sum = 0

for i in range(1,1001,1):
    sum += i
    if sum >= 900:
        print(sum)
        print(i)
        break

903
42

In [86]:
sum = 0
i = 1

while i <= 1000:
    sum += i
    if sum >= 900:
        print(i)
        break
    i += 1

42

In [88]:
# tuple 데이터형태
a = (20, "test")
b = (3,3,14)
c = a + b
d = a * 3

print(a,b,c,d)

(20, 'test') (3, 3, 14) (20, 'test', 3, 3, 14) (20, 'test', 20, 'test', 20, 'test')

In [89]:
# 20이라는 숫자를 출력하려면
print(a[0])

20

In [175]:
a = (10,20,30,40)

In [182]:
a[2:]

(30, 40)

In [92]:
# (30,40) 출력
a[]

SyntaxError: invalid syntax (369783113.py, line 2)

In [94]:
# (10,20,30)
a[:3]

(10, 20, 30)

In [95]:
# 리스트 데이터형
a = [20,10,50,5]
b = [10,20,30,40]

In [96]:
# sort()     -> 오름차순 정렬
a.sort()
a

[5, 10, 20, 50]

In [100]:
# reverse(역순으로 정렬)
b.reverse()
print(b)

[10, 20, 30, 40]

In [102]:
a.append(22)
print(a)

[5, 10, 20, 50, 22, 22]

In [112]:
# 1부터 70까지 3의 배수를 리스트로 만들어서 출력하시오
# 리스트를 출력을 하려면 비어있는 리스트 변수를 하나 생성
l = []

for i in range(1,71,1):
    if i % 3 == 0:
        l.append(i)
print(l)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69]

In [106]:
sum = 0

for i in range(1,71,3):
    if i == 0:
        sum += i
print(sum)

0

In [113]:
k = []

for i in range(1,71,1):
    if i % 3 == 0:
        k.append(i)
print(l)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69]

In [117]:
# 딕셔너리 데이터형
# { key : value : key2 : value2 }
dict = {"name" : "test","age":20,"phone":"01023456789"}

In [115]:
print(dict[0])

dict[0]

In [119]:
print(dict["name"])

test

In [121]:
dict["area"] = "seoul"

In [123]:
print(dict)

{'name': 'test', 'age': 20, 'phone': '01023456789', 'area': 'seoul'}

In [125]:
# 데이터의 형태 [{},{},{}]

test_data = [
    {"name" : "test", 
    "age" : 20},
    {"name" : "test", 
    "age" : 25},
    {"name" : "test", 
    "age" : 15}
]

In [127]:
print(test_data)

[{'name': 'test', 'age': 20}, {'name': 'test', 'age': 25}, {'name': 'test', 'age': 15}]

In [130]:
## test 문구를 출력하려면?
print(test_data[0])
print(test_data[0]["name"])
print(test_data[0]["age"])

{'name': 'test', 'age': 20}
test
20

In [132]:
# 대 소 문자 변환
# upper(),lower(),title()

a= "Hello wordl"
print(a.upper())
print(a.lower())
print(a.title())

HELLO WORDL
hello wordl
Hello Wordl

In [133]:
# 공백을 제거 함수
# strip()
# replace()

a = "    Hello world     "
print(a)

    Hello world

In [136]:
a.strip()

'Hello world'

In [138]:
a.replace("hello","hi")

'    Hello world     '

In [140]:
a.replace(" ","")

'Helloworld'

In [141]:
# split() 기준이 되는 문자열이나 ,./ 특수문자열을 기준으로 문자열을 나눠주는 역할

a = "a,b,c,d,e"
print(a)

a,b,c,d,e

In [145]:
a.split("{""}")

['a,b,c,d,e']

In [147]:
# 함수 -> 뭔가 행동, 데이터를 변환
# def 함수명(매개변수):


def func_1():
    print("Hello world")

func_1()
func_1()

Hello world
Hello world

In [152]:
# 함수 안에 있는 result라는 변수 -> 지역 변수
# 함수 밖에 있는 x라는 변수 -> 전역 변수     # 전역변수 지역변수 변수 중요!!
x = 3


def func_2(a):
    result = a * x
    print(result)
    return result


def func_3(b):
    print(result)

print(x)
print(func_2(5))

3
15
15

In [154]:
def func_3(a,b,c):
    result = a + b + c
    return result

print(func_3(1,2,3))

6

In [157]:
def func_4(a,b,c = 5):
    result = a + b - c
    return result

print(func_4(5,2,1))

6