In [2]:
print("Hello world")

Hello world

In [3]:
print("Mary's cosmetics")

Mary's cosmetics

In [7]:
print("안녕하세요.\n만나서\t반갑습니다.")

안녕하세요.
만나서	반갑습니다.

In [9]:
print("naver","kakao","samsung",sep=";")

naver;kakao;samsung

In [11]:
print("naver","kakao","sk","samsug",sep="/")

naver/kakao/sk/samsug

In [14]:
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [16]:
시가총액 = 2980000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

2980000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [19]:
s = "hello"
t = "python"
print(s+"!",t)

hello! python

In [22]:
a = "132"
print(type(a))

<class 'str'>

In [24]:
num_str = "720"
num_int = int(num_str)
print(num_int+1, type(num_int))

721 <class 'int'>

In [26]:
num = 100
result =  str(num)
print(result,type(result))

100 <class 'str'>

In [28]:
data = "15.79"
data = float(data)
print(data,type(data))

15.79 <class 'float'>

In [30]:
에어컨 = 48584
총금액 = 에어컨 * 36
print(총금액)

1749024

In [32]:
lang = 'python'
print(lang[0],lang[2])

p t

In [35]:
license_plate = "24가 2210"
print(license_plate[-4:])

2210

In [37]:
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [39]:
string = 'python'
print(string[::-1])

nohtyp

In [42]:
phone_number = "010-1111-2222"
phone_number1 = phone_number.replace("-"," ")
print(phone_number1)

010 1111 2222

In [43]:
phone_nuber = "010-1111-2222"
phone_number = phone_number.replace

In [46]:
ur1 = "http://sharebook.kr"
url_split = ur1.split('.')
print(url_split[-1])

kr

In [49]:
my_variable = ()

print(type(my_variable))

<class 'tuple'>

In [52]:
movie_rank = ("닥터 스트레인지","스플릿","럭키")
print(movie_rank)

('닥터 스트레인지', '스플릿', '럭키')

In [55]:
a = (1)
type(a)
int
my_tuple = (1,)

In [57]:
interest = ("삼성전자","lg전자","sk")

data = list(interest)

In [60]:
a = ("apple","banana","cake")
a, b, c = a
print(a, b, c)

apple banana cake

In [65]:
sum = 0

for i in range(1,100,1):
    if i % 2 == 0:
           sum += i
print(sum)

2450

In [67]:
for i in ["A","B","C"]:
    print(i)
변수 = "A"

A
B
C